{% extends 'base.html.twig' %}

{% block title %}Connexion | Lib2Move{% endblock %}

{% block body %}
    
    <h1 align="center" style="font-family:'Chalkduster, fantasy'"><span class="badge badge-info" >Lib 2 Move</span></h1>
    
    <div class="form-group">
        {{ form_start(form) }}
        {{ form_row(form.email) }} 
        {{ form_row(form.password) }} </br>
        {{ form_row(form.connexion) }}
        {{ form_end(form) }} </br>
        <p align="center">Vous n'êtes pas membre ? Cliquez ici <a href="/register"> S'inscrire</a></p>
    </div>
    
    <style>
        h1 { margin-top:3%;}
        .form-group {width:500px; margin: 5% auto; }
        .form-group input {border-radius:0px; }
        .form-group label {visibility:hidden;}
    </style>
    
{% endblock %}

