{% include 'base.html.twig' %}
{% include 'header.html.twig' %}

{% block body %}

<a href="/listeVehicule" id="retourListeVehicule" class="btn btn-primary">Retour liste Vehicule</a>

    <div class="card" style="width: 25%;">
        <img class="card-img-top" src="{{ asset('uploads/' ~ vehicule.image) }}" alt="Photo {{ vehicule.marque }} {{ vehicule.modele }}">
        <div class="card-body">
            <h1 class="card-title">{{ vehicule.marque }}</h1>
            <h2 class="card-title">{{ vehicule.modele }}</h2>
            
            <table class="table table-striped" style="font-size:1.2em;">
                <tr>
                    <th scope="row">Kilométrage</th>
                    <td>{{ vehicule.nbKm }} km</td>
                </tr>
                <tr>
                <th scope="col">Immatriculation</th>
                <td>{{ vehicule.immatriculation }}</td>
                </tr>
                <tr>
                    <th scope="row">Couleur</th>
                    <td>{{ vehicule.couleur }}</td>
                </tr>
                <tr>
                    <th scope="row">Disponibilité</th>
                    <td>{{ vehicule.status }}</td>
                </tr>
                <tr>
                    <th scope="row">Prix (par jour)</th>
                    <td>{{ vehicule.prixLocation }} €</td>
             
                </tr>
            </table>
        </div>
    </div>

<style>
.card { margin: 2% auto;}
.card-img-top {margin:0 auto ;width:20%;}
#retourListeVehicule { margin:1% 0 0 4%;}
</style>

{% endblock %}