{% include 'base.html.twig' %}
{% include 'header.html.twig' %}

{% block body %}


    <div class="container-fluid">
        <div class="float-left shadow-sm p-3 mb-5 bg-white rounded border border-dark statut_page">
            <h3>Nos véhicules</h3>
        </div>
    </div>

    <fieldset>
        {% for element in vehicule %}
          <img src="{{ asset('uploads/' ~ element.image) }}" />
            <h1>{{ element.marque }}</h1>
            <h3>{{ element.modele }}</h3>
            <p><i>Couleur </i>{{ element.couleur }}</p>
            <input type="button" value="reserver">
            <a href="{{ path('DetailVehicule', {'id': element.id}) }}">detail</a> 
        {% endfor %}
    </fieldset>

    


   




>>>>>>
{% endblock %}