{% include 'base.html.twig' %}
{% include 'header.html.twig' %}

{% block body %} 
<div class="jumbotron">
    <h2 class="display-4">Votre paiement a été éffectué avec succès</h2>

    <table class="table">
        <thead>
        <tr>
            <th colspan="6">DETAILS DE LA LOCATION</th>
        </tr>
        <tr>
            <th scope="col">Compte Bénéficiaire</th>
            <th scope="col">Date de location</th>
            <th scope="col">Marque</th>
            <th scope="col">Modele</th>
            <th scope="col">Prix</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td scope="row">{{ location.user.prenom }} {{ location.user.nom }}</td>
            <td>{{ location.DateLocation|date("d / m / Y") }}</td>
            <td>{{ location.IdVehicule.marque }} </td>
            <td>{{ location.IdVehicule.modele }} </td>            
            <td>{{ location.PrixTotal }} € </td>
            <td rowspan="2">
            
                <a href="{{ path('paiementFait', {'id': location.id}) }}" class="btn btn-success" download="fichier_test">Télécharger le recapitulatif</a>
                
            </td>
        </tr>
        </tbody>
    </table>
    <p class="lead"><i>Toute l'équipe Lib2Move vous remercie d'avoir utilisé nos services.</i></p>

    

<div class="star-ratings-css">
  <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
</div>

<br/><br/>


<style>


{% endblock %}
