{% include 'base.html.twig' %}
{% include 'header.html.twig' %}
{% block javascripts %}

      <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}"/>
     <script src="{{ asset('js/jquery-1.8.3.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.fr.js') }}"></script>



    
               <script>
     $(function () {
                    $('.DateFin').datetimepicker({
                language: 'fr',
                defaultDate: new Date(),
                startDate: new Date(),
                autoclose: true,
                    format: 'yyyy-mm-dd hh:ii:ss'
                     });

                     $('.DateDebut').datetimepicker({
                language: 'fr',
                defaultDate: new Date(),
                startDate: new Date(),
                autoclose: true,
                    format: 'yyyy-mm-dd hh:ii:ss'
                     });
                });
                $('.date').datepicker({ 
                showOn: 'button', 
                buttonImageOnly: true, 
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-mm-yy',
                yearRange: "-0:+1"  
            });
            $(document).ready(function() {
                // you may need to change this code if you are not using Bootstrap Datepicker
                $('.js-datepicker').datepicker({
                    format: 'yyyy-mm-dd'
                    });
                $("#test").click(function () {
                    var date1 = new Date($("#location_DateDebut").val());
                    var date2 = new Date($("#location_DateFin").val());
                    console.log(date2);
                    var timeDiff = Math.abs(date2.getTime() - date1.getTime());
                    var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
                    //alert(diffDays);
                   var Frais     = document.getElementById("prix").textContent;
                   var point     = document.getElementById("point").textContent;
                   //var Frai     = 10;
                    var TotalP = diffDays * Frais;
                    if (point > 20) {
                    
                                var TPourcentage = TotalP - TotalP * 0.2
                        } else {
                             var TPourcentage = TotalP * 1;
  }
                      alert(TPourcentage);
                });
                 $("#dt1").datepicker({
            dateFormat: "dd-M-yy",
            minDate: 0,
            onSelect: function (date) {
                var date2 = $('#dt1').datepicker('getDate');
                date2.setDate(date2.getDate() + 1);
                $('#dt2').datepicker('setDate', date2);
                //sets minDate to dt1 date + 1
                $('#dt2').datepicker('option', 'minDate', date2);
            }
        });
                $('#dt2').datepicker({
            dateFormat: "dd-M-yy",
            onClose: function () {
                var dt1 = $('#dt1').datepicker('getDate');
                console.log(dt1);
                var dt2 = $('#dt2').datepicker('getDate');
                if (dt2 <= dt1) {
                    var minDate = $('#dt2').datepicker('option', 'minDate');
                    $('#dt2').datepicker('setDate', minDate);
                }
            }
        });
            });
    
            
                          
            
        </script>
    
    {% endblock %}
<div class="jumbotron">
<<<<<<< HEAD


    <div class="card" style="width: 45%;">
        <img class="card-img-top" src="{{ asset('uploads/' ~ vehicule.image) }}" alt="Photo {{ vehicule.marque }} {{ vehicule.modele }}">
        <div class="card-body">
            <h1 class="card-title">{{ vehicule.marque }}</h1>
            <h2 class="card-title">{{ vehicule.modele }}</h2>
            
            <table class="table table-striped" style="font-size:1.2em;">
                <tr>
                    <th scope="row">Kilométrage</th>
                    <td>{{ vehicule.nbKm }} km</td>
                </tr>
                <tr>
                <th scope="col">Immatriculation</th>
                <td>{{ vehicule.immatriculation }}</td>
                </tr>
                <tr>
                    <th scope="row">Couleur</th>
                    <td>{{ vehicule.couleur }}</td>
                </tr>
                <tr>
                    <th scope="row">Disponibilité</th>
                    <td>{{ vehicule.status }}</td>
                </tr>
                <tr>
                    <th scope="row">Prix (par jour)</th>
                    <td>{{ vehicule.prixLocation }} €</td>
             
                </tr>
            </table>
        </div>
    </div>

<style>
.card { margin: 2% auto;}
.card-img-top {margin:0 auto ;width:80%;}
#retourListeVehicule { margin:1% 0 0 4%;}
</style>


{{ form_start(form) }}
   

    <div class="container">
            {{ form_row(form.VilleDarriver) }}
            {{ form_row(form.VilleDepart) }}
            {{ form_row(form.DateDebut) }}
            {{ form_row(form.DateFin) }}
        
             {{ form_row(form.Reserver) }}
                 {{ form_end(form) }}
            
            <a href="/.gitignore" class="btn btn-success" download="fichier_test"> {{ vehicule.prixLocation }}</a>
                

    
    <p class="lead"><i>Toute l'équipe Lib2Move vous remercie d'avoir utilisé nos services.</i></p>
</div>
=======
{{ form_start(form) }}
    <h4 class="display-4">Details de votre location</h4>
    <div class="card" style="width: 40%;">
            <img class="card-img-top" src="{{ asset('uploads/' ~ vehicule.image) }}" alt="Photo {{ vehicule.marque }} {{ vehicule.modele }}">
            <div class="card-body">
                <h1 class="card-title">{{ vehicule.marque }}</h1>
                <h2 class="card-title">{{ vehicule.modele }}</h2>
                
                <table class="table table-striped" style="font-size:1.2em;">
                    <tr>
                        <th scope="row">Kilométrage</th>
                        <td>{{ vehicule.nbKm }} km</td>
                    </tr>
                    <tr>
                    <th scope="col">Immatriculation</th>
                    <td>{{ vehicule.immatriculation }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Couleur</th>
                        <td>{{ vehicule.couleur }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Disponibilité</th>
                        <td>{{ vehicule.status }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Prix (par jour)</th>
                        <td>{{ vehicule.prixLocation }} €</td>
                
                    </tr>
                </table>
            </div>
        </div>
    
    <div class="container">
        {{ form_row(form.VilleDarriver) }}
        {{ form_row(form.VilleDepart) }}
        {{ form_row(form.DateDebut) }}
        {{ form_row(form.DateFin) }}</br

        {{ form_row(form.Reserver) }}
        {{ form_end(form) }}
    </div>

    
>>>>>>> 07a5517a142beddadfa8d647b4af9dd1b454a334

<style>
    .card { margin: 2% auto;}
    .card-img-top {margin:0 auto ;width:80%;}
    .jumbotron { width:70%; margin: 2% auto;}
    table{ margin:5% auto ;}
    label[for="location_DateDebut"]{ display:none;}
    label[for="location_DateFin"] { display:none; margin-bottom:4%;}

</style>

